[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2 = "*"
virtualenv = "*"
whitenoise = "*"

[requires]
python_version = "3.9.0"