[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
appdirs = "*"
asgiref = "*"
astroid = "*"
colorama = "*"
distlib = "*"
Django = "*"
django-filter = "*"
django-rest = "*"
djangorestframework = "*"
filelock = "*"
gunicorn = "*"
isort = "*"
lazy-object-proxy = "*"
Markdown = "*"
mccabe = "*"
Pillow = "*"
psycopg2-binary = "*"
pylint = "*"
pytz = "*"
six = "*"
sqlparse = "*"
toml = "*"
virtualenv = "*"
whitenoise = "*"
wrapt = "*"

[requires]
python_version = "3.9.0"