[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
asgiref = "*"
astroid = "*"
colorama = "*"
Django = "*"
django-rest = "*"
djangorestframework = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pylint = "*"
pytz = "*"
six = "*"
sqlparse = "*"
toml = "*"
wrapt = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
virtualenv = "*"
whitenoise = "*"

[requires]
python_version = "3.9.0"